<div>

    <div class='mt-10'>
        <app-navbar></app-navbar>
    </div>

    <div class='container mx-auto'>

        <div class='flex mt-10'>
            <a href='#'><img src='https://e7.pngegg.com/pngimages/507/702/png-clipart-profile-icon-simple-user-icon-icons-logos-emojis-users-thumbnail.png' class='w-20 h-20 rounded-full'></a>
            <a href='#' class='text-4xl font-medium mt-4 ml-2'>&#64;chelomama</a>
        </div>

        <div class='mt-5'>
            <h1 class='text-6xl font-semibold'>Titulo de la actividad</h1>
            <p class='text-3xl mt-5'>Descripción corta de la actividad</p>
        </div>

        <div class='flex justify-center mt-10'>
            <img src='https://e7.pngegg.com/pngimages/507/702/png-clipart-profile-icon-simple-user-icon-icons-logos-emojis-users-thumbnail.png' class='rounded-3xl'>
        </div>

        <div class='flex justify-center mt-16'>
            <div class='mr-40 space-y-10'>
                <h1 class='text-3xl'>Distancia: 10,02 km</h1>
                <h1 class='text-3xl'>Pulsaciones: 156 ppm</h1>
            </div>
            <div class='mr-40 space-y-10'>
                <h1 class='text-3xl'>Tiempo: 50:00</h1>
                <h1 class='text-3xl'>Calorias: 345 kcal</h1>
            </div>
            <div class='space-y-10'>
                <h1 class='text-3xl'>Ritmo: 5:00 / km</h1>
                <h1 class='text-3xl'>Esfuerzo: Bajo</h1>
            </div>
        </div>

    </div>

</div>