<div>

    <div class='container mx-auto'>

        <nav class='grid grid-cols-2 mt-10'>

            <div class='grid grid-cols-2 w-9/12'>

                <div class=''>
                    <a href='#' class='text-5xl font-semibold'>THE PLUM</a>
                </div>

                <div class='mt-2 space-x-5'>
                    <a href='#' class='text-3xl'>Actividades</a>
                    <a href='#' class='text-3xl'>Calendario</a>
                    <a href='#' class='text-3xl'>Estadísticas</a>
                </div>

            </div>

            <div class='flex justify-end'>
                <a href='#'><img src='https://e7.pngegg.com/pngimages/507/702/png-clipart-profile-icon-simple-user-icon-icons-logos-emojis-users-thumbnail.png' class='w-14 h-14 rounded-full'></a>
                <a href='#' class='text-white text-xl bg-black rounded-xl p-2 mt-2 ml-8'>Añadir Actividad</a>
            </div>
            

        </nav>

    </div>

</div>
