<div>

    <div class='container mx-auto w-1/5'>

        <div class='bg-black text-white rounded-3xl p-4'>


            <a href='#' class='flex ml-6'>
                <img src='https://e7.pngegg.com/pngimages/507/702/png-clipart-profile-icon-simple-user-icon-icons-logos-emojis-users-thumbnail.png' class='w-10 h-10 rounded-full'>
                <h1 class='text-2xl mt-1 ml-2'>&#64;chelomama</h1>
            </a>
            <div class='ml-20'>
                <p class='text-sm font-thin'>15/04 - 12:38</p>
            </div>
            
            <div class='flex justify-center mt-3'>
                <img src='https://e7.pngegg.com/pngimages/507/702/png-clipart-profile-icon-simple-user-icon-icons-logos-emojis-users-thumbnail.png' class='h-48 w-2/3 rounded-xl'>
            </div>
            <div class='ml-28 mt-2'>
                <a href='activity/id' class='text-3xl font-semibold'>Título de la actividad</a>
                <p class='text-md font-thin mt-1'>Descripción corta de la actividad</p>
            </div>
            <div class='flex justify-center mt-3'>
                <div class='mr-20'>
                    <h1 class='text-lg'>Distancia</h1>
                    <p class='text-lg font-bold'>10,02 km</p>
                </div>
                <div class='mr-20'>
                    <h1 class='text-lg'>Tiempo</h1>
                    <p class='text-lg font-bold'>50:00</p>
                </div>
                <div class=''>
                    <h1 class='text-lg'>Ritmo</h1>
                    <p class='text-lg font-bold'>5:00 / km</p>
                </div>
            </div>
        </div>

    </div>

</div>
