<div class='container mx-auto p-10'>

    <div class='flex space-x-10'>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
        </div>
        <div class='flex space-x-10 mt-8'>
            <h1 class='text-xl'>Followers: <b>1.25k</b></h1>
            <h1 class='text-xl'>Followings: <b>385</b></h1>
            <h1 class='text-xl'>Activities: <b>126</b></h1>
        </div>
    </div>

    <nav class='flex justify-start p-5'>
        <div>
            <a routerLink='' class='border border-gray-700 bg-gray-800 px-4 py-2 rounded-s-xl hover:bg-gray-600'>
                My Activities
            </a>
            <a routerLink='' class='border border-gray-700 bg-gray-800 px-4 py-2 hover:bg-gray-600'>
                Settings
            </a>
            <a routerLink='' class='border border-gray-700 bg-gray-800 px-4 py-2 hover:bg-gray-600'>
                Messages
            </a>
            <a routerLink='' class='border border-gray-700 bg-gray-800 px-4 py-2 hover:bg-gray-600'>
                Messages
            </a>
            <a routerLink='/profile/data/{{id}}' class='border border-gray-700 bg-gray-800 px-4 py-2 rounded-e-xl hover:bg-gray-600'>
                User Data
            </a>

        </div>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
    

</div>
