<div class='max-w-xl mx-auto mt-10'>

    <form [formGroup]='dataForm' (ngSubmit)='update()'>

        <div class='space-y-8'>
            <div>
                <label for='firstName' class='block mb-2 text-sm font-medium'>First Name</label>
                <input type='text' formControlName='firstName' class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0' name='firstName' id='firstName'>
                @if (dataForm.invalid && (dataForm.get('firstName').touched || dataForm.get('firstName').dirty)) {
                <div>
                    @if (dataForm.get('firstName').hasError('required')) {
                    <div class='absolute text-sm text-red-600'>
                        * This field is required
                    </div>
                    }
                    @else if (dataForm.get('firstName').hasError('minlength')) {
                    <div class='absolute text-sm text-red-600'>
                        * First Name must have at least 3 characteres
                    </div>
                    }
                    @else if (dataForm.get('firstName').hasError('pattern')) {
                    <div class='absolute text-sm text-red-600'>
                        * First Name can only contains letters
                    </div>
                    }
                </div>
                }
            </div>
            <div>
                <label for='lastName' class='block mb-2 text-sm font-medium'>Last Name</label>
                <input type='text' formControlName='lastName'  class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0' name='lastName' id='lastName'>
                @if (dataForm.invalid && (dataForm.get('lastName').touched || dataForm.get('lastName').dirty)) {
                    <div>
                    @if (dataForm.get('lastName').hasError('required')) {
                        <div class='absolute text-sm text-red-600'>
                        * This field is required
                        </div>
                    }
                    @else if (dataForm.get('lastName').hasError('minlength')) {
                        <div class='absolute text-sm text-red-600'>
                        * Last Name must have at least 3 characteres
                        </div>
                    }
                    @else if (dataForm.get('lastName').hasError('pattern')) {
                        <div class='absolute text-sm text-red-600'>
                        * Last Name can only contains letters
                        </div>
                    }
                </div>
            }
            </div>
            <div>
                <label for='height' class='block mb-2 text-sm font-medium'>Height</label>
                <input type='number' formControlName='height'  class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0' name='height' id='height'>
                @if (dataForm.invalid && (dataForm.get('height').touched || dataForm.get('height').dirty)) {
                    @if (dataForm.get('height').hasError('required')) {
                    <div class='absolute text-sm text-red-600'>
                        * This field is required
                    </div>
                    }
                    @else if (dataForm.get('height').hasError('min')) {
                    <div class='absolute text-sm text-red-600'>
                        * Minimum height: 100
                    </div>
                    }
                    @else if (dataForm.get('height').hasError('max')) {
                    <div class='absolute text-sm text-red-600'>
                        * Maximum height: 230
                    </div>
                    }
                }
            </div>
            <div>
                <label for='weight' class='block mb-2 text-sm font-medium'>Weight</label>
                <input type='number' formControlName='weight'  class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0' name='weight' id='weight'>
                @if (dataForm.invalid && (dataForm.get('weight').touched || dataForm.get('weight').dirty)) {
                    <div>
                    @if (dataForm.get('weight').hasError('required')) {
                        <div class='absolute text-sm text-red-600'>
                        * This field is required
                        </div>
                    }
                    @else if (dataForm.get('weight').hasError('min')) {
                        <div class='absolute text-sm text-red-600'>
                        * Minimum weight: 30
                        </div>
                    }
                    @else if (dataForm.get('weight').hasError('max')) {
                        <div class='absolute text-sm text-red-600'>
                        * Maximum weight: 200
                        </div>
                    }
                    </div>
                }
            </div>
            <div>
                <label for='birthDate' class='block mb-2 text-sm font-medium'>Birth Date</label>
                <input type='date' formControlName='birthDate'  class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0' name='birthDate' id='birthDate'>
                @if (dataForm.invalid && (dataForm.get('birthDate').touched || dataForm.get('birthDate').dirty)) {
                    <div>
                    @if (dataForm.get('birthDate').hasError('required')) {
                        <div class='absolute text-sm text-red-600'>
                        * This field is required
                        </div>
                    }
                    @else if (dataForm.get('birthDate').hasError('ageInvalid')) {
                        <div class='absolute text-sm text-red-600'>
                        * The age range is 12 to 100
                        </div>
                    }
                    </div>
                }
            </div>
            
            <div>
                <label for='country' class='block mb-2 text-sm font-medium'>Select your Country</label>
                <select formControlName='country' name='country' id='country' class='w-full border-0 border-b-2 bg-transparent border-gray-700 p-2 focus:ring-0 focus:bg-gray-800 focus:rounded-lg'>
                    @for (country of countries; track country.id) {
                    <option [ngValue]='country'>
                        {{ country.name }}
                    </option>
                    }
                </select>
                @if (dataForm.invalid && (dataForm.get('country').touched || dataForm.get('country').dirty)) {
                    @if (dataForm.get('country').hasError('required')) {
                    <div class='absolute text-sm text-red-600'>
                        * This field is required
                    </div>
                    }
                }
            </div>
            
        </div>
        
        <div class='grid justify-center mt-6 disabled:cursor-not-allowed'>
            <button type='submit' class='text-lg font-semibold bg-blue-500 rounded-xl px-8 py-2' [disabled]='dataForm.invalid'>Update</button>
        </div>
    
    </form>

</div>

<div>
    <app-alert [updated]='alert'></app-alert>
</div>


  

