<div class='container mx-auto mt-52'>

    <form class='max-w-2xl mx-auto' [formGroup]='registerForm' (ngSubmit)='register()'>

      <div class='grid justify-center mb-10'>
        <h1 class='text-5xl'>REGISTER</h1>
      </div>
  
      <div class='grid gap-6 mb-10 md:grid-cols-2'>

        <div>
          <label for='firstName' class='block mb-2 text-sm font-medium'>First Name</label>
          <input type='text' formControlName='firstName' class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='firstName' id='firstName' placeholder='Roberto'>
        </div>

        <div>
          <label for='lastName' class='block mb-2 text-sm font-medium'>Last Name</label>
          <input type='text' formControlName='lastName'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='lastName' id='lastName' placeholder='López Barbarin'>
        </div>

        <div>
          <label for='email' class='block mb-2 text-sm font-medium'>Email</label>
          <input type='text' formControlName='email'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='email' id='email' placeholder='running@gmail.com'>
        </div>

        <div>
          <label for='username' class='block mb-2 text-sm font-medium'>Username</label>
          <input type='text' formControlName='username'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='username' id='username' placeholder='TheRealRunner'>
        </div>

        <div>
          <label for='password' class='block mb-2 text-sm font-medium'>Password</label>
          <input type='password' formControlName='password'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='password' id='password' placeholder='●●●●●●●●'>
        </div>

        <div>
          <label for='password2' class='block mb-2 text-sm font-medium'>Repeat Password</label>
          <input type='password' formControlName='password2'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='password2' id='password2' placeholder='●●●●●●●●'>
        </div>

        <div>
          <label for='height' class='block mb-2 text-sm font-medium'>Height</label>
          <input type='number' formControlName='height'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='height' id='height' placeholder='182'>
        </div>

        <div>
          <label for='height' class='block mb-2 text-sm font-medium'>Weight</label>
          <input type='number' formControlName='weight'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='weight' id='weight' placeholder='58'>
        </div>

        <div>
          <label for='birthDate' class='block mb-2 text-sm font-medium'>Birth Date</label>
          <input type='date' formControlName='birthDate'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='birthDate' id='birthDate' placeholder='birthDate'>
        </div>
        
        <div>
          <label for='country' class='block mb-2 text-sm font-medium'>Select your Country</label>
          <select formControlName='country' name='country' id='country' class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600'>
            @for (country of countries; track country.id) {
              <option [ngValue]='country'>
                 {{ country.name }}
              </option>
            }
          </select>
        </div>
        
      </div>

      <div class='grid justify-center mb-10'>
        <button type='submit' class='text-lg font-semibold bg-blue-500 rounded-xl px-8 py-2' [disabled]='registerForm.invalid'>Send</button>
      </div>

    </form>
  
  </div>
  
