<div class='container mx-auto mt-64'>

  <form class='max-w-sm mx-auto' [formGroup]='loginForm' (ngSubmit)='login()'>

    <div class='grid justify-center mb-10'>
      <h1 class='text-5xl'>LOGIN</h1>
    </div>

    <div class='grid gap-6'>
  
      <div>
        <label for='email' class='block mb-2 text-sm font-medium'>Email</label>
        <input type='text' formControlName='email'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='email' id='email' placeholder='running@gmail.com'>
      </div>

      <div>
        <label for='password' class='block mb-2 text-sm font-medium'>Password</label>
        <input type='password' formControlName='password'  class='block w-full p-2 rounded-lg text-base bg-gray-700 border-gray-600' name='password' id='password' placeholder='●●●●●●●●'>
      </div>

      <div class='flex items-start mb-5'>
        <div class='flex items-center h-5 mr-5'>
          <input type='checkbox' class='form-checkbox bg-gray-700 border border-gray-600 rounded' name='remember' id='remember'>
        </div>
        <label for='remember' class='text-sm font-medium'>Remember me</label>
      </div>

      <div class='grid justify-center -mt-4'>
        <button type='submit' class='text-lg font-semibold bg-blue-500 rounded-xl px-8 py-2'[disabled]="loginForm.invalid">Enviar</button>
      </div>

    </div>

  </form>

</div>
